<!-- Header -->
<header id="header" class="alt {% if page.homepage %}homepage{% endif %}">
	<a href="/" class="logo">
		<img src="/assets/images/logo.png" /><strong>ITS of WNY</strong>
	</a>
	<nav>
		<a href="#menu">Menu</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		<li><a href="/">Home</a></li>
		<li><a href="/about.html">About ITS</a></li>
		<li><a href="/services.html">Services and Programs</a></li>
		<li><a href="/areas.html">Areas Served</a></li>
		<li><a href="/careers.html">Employment Opportunities</a></li>
	</ul>
	<ul class="actions vertical">
		<li><a href="#contact" class="button scrolly special fit">Contact Us</a></li>
		<!-- <li><a href="#" class="button fit">Log In</a></li> -->
	</ul>
</nav>
